
.signin_container{
    background-color: #e6e4f9;

}
.fonticons{
    font-family:Arial, FontAwesome;
    font-size: 18px;
    background: #e6e4f9;
}

input[type="email"]::placeholder{
    color: #655abe;
}
input[type="password"]::placeholder{
    color: #655abe;
}
.form_cont{
    background: #625ac1;
    padding: 30px;
    padding-bottom: 10px;
    
    border-radius: 10px;
}
.signin{
    color: white;
    text-align: center;
}
.submitbutton{
    text-align: center;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    outline: none;
    border-radius: 6px;
    color: #7c74bf;
    background-color:#e6e4f9 ;
    text-decoration: none;
}
.downtext{
    font-size: 11px;
    color: white;
  cursor: pointer;
}
.downtext:hover{
    color: white;
  
}
.maincontainer{
    margin-top: 3%;
}
.chatimage{
    position: relative;
    bottom: 220px;
   

}
